@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --font-raleway: "Raleway", sans-serif;

  --color-light: #fff;
  --color-dark: #000;
  --color-dark-soft: #1d1d1d;
  --color-accent: #ffe81f;

  --container-width: 1032px;
  --container-padding-x: 16px;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-light);
  background: var(--color-dark-soft);
  font-family: var(--font-raleway);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  padding-block: 3rem;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
